* {
    margin: 0;
    padding: 0;

}

.LoginContainer {
    padding-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    z-index: -5;
}

.loginForm {
    max-width:18rem;
    z-index: 5;
    box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 2rem 1rem;
    text-align: center;
    background-color: #6b6167;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.loginText {
    border: rgba(0, 0, 0, 0.2) solid 1px;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.2) inset;
}

.formRow {
    position: relative;
    text-align: left;
    width: 100%;
    margin-bottom: 1rem;
    
}


 .form-input:last-child {
    margin-bottom: 0rem;
    
}

input[type="text"],[type="password"],[type="email"]{
    font-size:1.2rem;
    text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.2) inset;
}

.form-label {
    font-size: 1.3rem;
    opacity: .7;
}

.form-input {
    padding: 4.5%;
    width: 89%;
    margin-bottom: 0rem;
    height: 2rem;
}

.form-input:focus {
    outline-color: #719ECE;
}

.loginCover .formRow .passwordEye{
    position: absolute;
    right: 5%;
    top: 45%;
}



.passwordExtra {
    display: flex;
    justify-content: space-between;
}

.rememberCheckbox .caption {
    font-size: 1.3rem;
}

input[type="checkbox" i] {
    margin-right:0.5rem;
}

input[type="checkbox"]{
    width: 1.1rem;
    height: 1.1rem;
    margin-bottom: 1rem;
}

.forgotPassword {
    text-decoration: none;
    color: black;
}

.forgotPassword:hover {
    text-decoration: underline;
}



.loginBottom {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    padding-top: 0.5rem;
}

.loginBottom button {
    font-family:'Montserrat', sans-serif;
    color: white;
    background-color: #798377;
    padding: 1rem;
    border: none;
    width: 90%;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.2);

}

.loginBottom button:hover {
    opacity: 0.8;
    transform: scale(1.12);
    transition: 0.5s;
    cursor: pointer;
}


.signup {
    text-align: center;
    border-top: 0.1rem solid black;
    padding-top: 1rem;
}

.signup button {
    color: white;
    background-color: rgb(134, 53, 53);
    padding: 1rem;
    border: none;
    width: 80%;
    font-size: 1.5rem;
    margin-top: 1rem;
}






@media (max-width: 600px){
    .loginForm {
        width: 25rem;
    }
}

@media (max-width: 480px){
    .loginForm {
        width: 22rem;
    }
}

@media (max-width: 400px){
    .loginForm {
        width: 18rem;
    }

    .form-label{
        display: none;
    }

    .loginCover .formRow .passwordEye{
        top: 24%;
    }
    .loginText {
        font-size: 1rem;
    }

}

@media (max-width: 320px){
    .loginForm {
        width: 16rem;
    }


    .form-label{
        display: none;
    }

    .loginCover .formRow .passwordEye{
        top: 20%;
    }

    .loginText {
        font-size: 1rem;
    }

}
 

    






