.AccountPostsList {
    display: flex;
    flex-direction: column;
}

.AccountPostsList li {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.postList, .TitleList {
    display: flex;
}
.postList p, .TitleList p {
    display: inline;
    margin-right: 5rem;
}