.AccountContainer {
    height: calc(100vh - 5rem);
    background-color: #5e565b;
}

body{
    background-color: #5e565b;
    min-width: 35rem;
}
.Account { /* alles behalve navbar */
    padding: 2rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: row;
	font-family: 'Open Sans', Sans-serif;
}

.AccountName{
    text-transform: uppercase;
    font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}
.AccountInformation { /* generalaccountinfo + profile pic */ 
    min-width: 28rem;
    max-width: 90rem;
    width: 60rem;
    background-color: #6b6167;
    margin-left: 5%;
    height: 35%;
    display: flex;
    flex-direction: row;
    padding-bottom: 0.5rem;
    justify-content: flex-start;
}

.ProfilePicture { /* de profielfoto */
    margin: 1rem;
    padding-right: 2rem;
}

.generalAccountInfo { /* volledige container van title tot description */
    
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.emailInformation { /* email  */
    color: #5FB4BF;
}

.AccountDescription { /* de description */
    min-height: 9rem;
}


.TitleDescription { /* Account description title */
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.InputDescription{ /* wanneer je edit zie je dit om te editen */
    padding: 0;
    margin-bottom: 2rem;
    padding: 0;
    height: 25%;
    width: 90%;
    
}

.LogoutContainer { /* de balk *onderaan* ;-; om uit te loggen */
    background-color: #5e565b;;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 1rem;
    top: 6rem;
}

.ProfileButton {     /* de button om je profiel te editen*/
    position: relative;

    box-shadow: 0 1px 5px rgba(64, 64, 64, .7);
	font-family: 'Montserrat', sans-serif;
	min-width: 8rem;
	height: 3rem;
	background-color: #7f737b;
	color: white;
	font-size: 16px;
	border: none;
	z-index: 700;
}

.ProfileButton:hover {
    background-color: #6b6167; /* Green */
    color: lightgrey;
    box-shadow: none;
    border: #494447 solid 1px;
}

@media (max-width: 1490px) {
    .Account{
        padding: 5rem 2rem 1rem 2rem;
        
    }
    
}
@media (max-width: 1200px) {
    body{
        overflow-x:visible;

    }
    

    .ParagraphDescription{
        overflow-y: auto;
        height: 12rem;

    }
}
@media (max-width: 1000px){
    .AccountDescription {
        width: fit-content;
    }
    .AccountInformation{
        width:min-content;
    }
}
@media (max-width: 600px) {
    
    body {
        overflow-y: visible;
        min-width: 20rem;
        overflow-x: visible;
    }
    .ProfilePicture{
        display: none;
    }
    .AccountDescription{
        min-height: fit-content;
    }
    .AccountInformation{
        margin: 0;
        padding-bottom: 1rem;
        width: 400px;
    }
    .Account .search input {
        background-color: white;
        border: none;
        width: 15rem;
    }

    .Account .search {
        margin-bottom: 1rem;
    }

    .Account .dataResult {
        margin-top: 0.2rem;
        width: 16rem;
        height: 4rem;
        background-color: white;
        overflow: hidden;
        overflow-y: auto;
        justify-content: flex-end;
    }

    .Account .dataResultContainer {
        justify-content: flex-start;
        margin-top: 0.5rem;
        width: 15rem;
    }

    .AccountInformation {
        display: flex;
        flex-direction: column;
    }

    .ParagraphDescription{
        height: 5rem;

    }

    .ProfileButton {
        margin-top: 0.5rem;
    }
}

@media (max-width: 400px) {
    .Account .searchInputs {
        display: flex;
        justify-content: flex-start;
        height: 1.5rem;
    }

    .Account {
        padding: 1rem 2rem 1rem 0.5rem;

    }
}

.img {
    width: 300px;
    height: 300px;
}