

#left_pane {
  display: flex;
  justify-content: center;
  align-items: center;
}
#right_pane {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

#center_pane {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#top_pane {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
#bottom_pane {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

