.LogoutButton {
    box-shadow: 0 1px 5px rgba(64, 64, 64, .7);
	font-family: 'Montserrat', sans-serif;
	min-width: 8rem;
	height: 3rem;
	background-color: #cc1818;
	color: white;
	font-size: 16px;
	border: none;
	z-index: 700;
}

.LogoutButton:hover {
    background-color: #933c3c; /* Green */
    color: lightgrey;
    box-shadow: none;
    border: #494447 solid 1px;
}
