.Navigation {
    padding-bottom: 10px;
    padding-right: 10%;
    width: 100%;

}

.Navbar,
.MobileNavbar {
    top: 0;
    background-color: rgb(46, 46, 46);
    width: 100%;
    height: 5rem;
    font-size: 1.2rem;
    box-shadow: 0 5px 1rem black;
    /*border-radius: 5%;*/
    left: 0;
    z-index: +2;
}

.Navigation nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-menu li {
    list-style-type: none;
    display: inline-block;
    padding: 1.5rem 2rem;

}

.nav-links {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.8rem 0.4rem;
    display: block;
}

.nav-links:hover {
    background: rgb(75, 74, 74);
    border-radius: 0.4rem;
    transition: all 0.2s ease-in-out;
}

.siteName {

    align-items: center;
    padding-left: 2%;
}

.siteName a {
    color: white;
    text-decoration: none;
}

.Navigation .MobileNavbar {
    display: none;

}



@media (max-width: 990px) {
    .Navigation .Navbar {
        display: none;

    }

    .Navigation .MobileNavbar {
        display: flex;
        align-items: center;

    }

    .Navigation .MobileNavbar .Hamburger {
        position: absolute;
        right: 5%;
        cursor: pointer;

    }

    .Navigation nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 4rem;
        right: 0;
        width: 100%;
        align-items: center;

    }

    .nav-links {
        color: white;
        border-radius: 0.4rem;
        text-decoration: none;
        padding: 0.3rem 0.4rem;
        background-color: rgb(91, 91, 91);
    }

    .nav-links:hover {
        background-color: rgb(91, 91, 91);
        text-decoration: underline;
    }

    .Navigation .MobileNavbar .nav-menu {
        background-color: rgb(91, 91, 91);
        box-shadow: 0rem 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.75);
    }

    .mid {
        background-color: rgb(46, 46, 46);
    }
}