#battle_pane {
    background-color: aliceblue;
    position: fixed;
    top: 6rem;
    right: 1rem;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-right: 2rem;
    width: fit-content;
    height: fit-content;
    z-index: 700;
}

#add_battle_pane {
    background-color: aliceblue;
    position: fixed;
    bottom: 7rem;
    right: 1rem;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: fit-content;
    height: fit-content;
    z-index: 700;
}

#battleButton{
    z-index: 700;
    bottom: 2rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    position: fixed;
}
#coordinates{
    z-index: 7000;
    bottom: 6rem;
    left: 1rem;
    width: 4rem;
    height: 4rem;
    position: fixed;
    border: 1px solid black;
}

input{
    height: 100%;
    width: 100%;
    font-family: 'Open Sans',Sans-serif;
}