
.formRow {
    position: relative;
    text-align: left;
    width: 100%;
    margin-bottom: 1rem;
    text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.2) inset;
}


 .form-input:last-child {
    margin-bottom: 0rem;
    
}


.form-label {
    font-size: 1.3rem;
    opacity: .7;
}

.form-input {
    padding: 4.5%;
    width: 89%;
    margin-bottom: 0rem;
    height: 2rem;
}

.form-input:focus {
    outline-color: #719ECE;
}

.SignupPage2 .formRow .passwordEye{
    position: absolute;
    right: 5%;
    top: 43%;
}




.signupBottom {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    padding-top: 0.5rem;
}

.signupBottom button {
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
    border: none;
    width: 90%;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.2);
}

.signupBottom button:hover {
    opacity: 0.8;
    transform: scale(1.12);
    transition: 0.5s;
    cursor: pointer;
}

.signupBottom .NextButton {
    background-color: #798377;
}

.signupBottom .BackButton {
    background-color: #7e727a;
}



.login {
    text-align: center;
    border-top: 0.1rem solid black;
    padding-top: 1rem;
}

.ErrorMessage {
    color: red;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}



@media (max-width: 400px){
    .form-label{
        display: none;
    }

    .SignupPage2 .formRow .passwordEye{
        top: 23%;
    }
}

@media (max-width: 320px){
    .form-label{
        display: none;
    }

    .SignupPage2 .formRow .passwordEye{
        top: 23%;
    }

}