* {
    margin: 0;
    padding: 0;
    overflow: visible;
}

.SignupContainer {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y:hidden;
}

.signupForm {
    max-width:18rem;
    z-index: 5;
    box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 2rem 1rem;
    text-align: center;
    background-color: #6b6167;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.signupText {
    border: rgba(0, 0, 0, 0.2) solid 1px;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.2) inset;
}



@media (max-width: 600px){

}

@media (max-width: 480px){
    .signupForm {
        width: 22rem;
    }
}

@media (max-width: 400px){
    .signupForm {
        width: 18rem;
    }

   .signupText {
        font-size: 1rem;
    }

}

@media (max-width: 320px){
    .signupForm {
        width: 16rem;
    }

    .signupText {
        font-size: 1rem;
    }

}
 

    






